.main-block {
    padding: 0px;
}

.main-form {
    padding: 25px;
    background-color: rgb(218, 230, 231);
    align-content: center;
}

.plot {
    margin-top: 20px;
}

.example {
    font-size: 0.7em;
}

g.mpld3-xaxis, g.mpld3-yaxis {
    display: none
}

.errors {
    color: #ff0000;
}

#download-report {
    margin-left: 10px;
}

label[for=seq] {
    margin-right: 14px;
}

.logo {
    width: 800px;
    margin-bottom: 0px;
}

.content {
    background-color: #ffffff;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.banner {
    background-color: rgb(37, 71, 91);
    color: #ffffff;
    justify-content: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

a {
    color: rgb(44, 83, 86);
}

footer {
    flex-shrink: 0;
}

#footer {
    width: 800px;
}

footer a {
    color: rgb(34, 57, 138);
}

.btn-primary {
    background-color: rgb(255, 102, 52);
    #border-color: rgb(159, 82, 4);
    border-color: rgb(206, 52, 0);
}

.btn-light {
    background-color: rgb(75, 140, 146);
    border-color: rgb(210, 231, 234);
    color: #ffffff;
}
