{% extends "base.html" %}
{% block title %}mutaGEN{% endblock %}
{% block content %}
    <div class="container main-block" >
    <h2>mutaGEN</h2>
    <h5>Computational prediction of editing outcomes resulting from Cas9-induced double strand breaks</h5>
        {% if form %}
            <form action="" method="post" class="main-form">
                <div class="form-group">
                    {{ form.seq.label }} {{ form.seq }}
                </div>
                <div class="form-group">
                    {{ form.cut_site.label }} {{ form.cut_site }}
                </div>
                <button type="submit" class="btn btn-submit">Submit</button>
            </form>
        {% endif %}

        <div class="plot">
            {{ plot|safe }}

        </div>


    </div>
{% endblock content %}